<h1>List of all directors</h1>

<% Director.all.each do |a_thing| %>
  <ul>
    <li> 
      <%= a_thing.id %>
      <%= a_thing.image %>
      <%= a_thing.name %>
      <%= a_thing.dob %>
      <%= a_thing.bio %>
    </li>
  </ul>
<% end %>
